<div class="home container">
  <div class="login-card card">
    <form phx-submit="submit">
      <div class="mt-3 mb-3">
        <input class="form-control" name="username" autocomplete="off" placeholder="Username">
      </div>
      <button class="btn btn-primary mb-3">Login</button>
    </form>
  </div>
</div>
